#white-textfield {
    -fx-text-fill: white;
}

/* Chart Styling */
.chart {
    -fx-background-color: transparent;
}

.chart-title {
    -fx-text-fill: white;
}

.axis-label {
    -fx-text-fill: white;
}

.chart-legend {
    -fx-text-fill: white;
}

.axis {
    -fx-tick-label-fill: white;
}

.chart-content {
    -fx-padding: 10px;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: #3E4B64;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #3E4B64;
}

.chart-series-line {
    -fx-stroke-width: 2px;
}

/* Custom ScrollPane scrollbar for dashboard recent notifications */
#recentScrollPane {
    background: #0B1739;
    -fx-background: #0B1739;
    background-color: #0B1739;
    -fx-background-color: #0B1739;
    border-color: transparent;
    -fx-border-color: transparent;
}
#recentScrollPane .viewport {
    background-color: #0B1739;
    -fx-background-color: #0B1739;
}
#recentScrollPane .scroll-bar:vertical {
    background-color: #0B1739;
    -fx-background-color: #0B1739;
}
#recentScrollPane .thumb {
    background-color: #0E1D47;
    -fx-background-color: #0E1D47;
}
#recentScrollPane .track {
    background-color: #0B1739;
    -fx-background-color: #0B1739;
}
#recentScrollPane .increment-button, #recentScrollPane .decrement-button {
    background-color: #0B1739;
    -fx-background-color: #0B1739;
}