#white-textfield {
    -fx-text-fill: white;
}

/* Custom ScrollPane scrollbar for dashboard recent notifications */
#recentScrollPane {
    background: #0B1739;
    -fx-background: #0B1739;
    background-color: #0B1739;
    -fx-background-color: #0B1739;
    border-color: transparent;
    -fx-border-color: transparent;
}
#recentScrollPane .viewport {
    background-color: #0B1739;
    -fx-background-color: #0B1739;
}
#recentScrollPane .scroll-bar:vertical {
    background-color: #0B1739;
    -fx-background-color: #0B1739;
}
#recentScrollPane .thumb {
    background-color: #0E1D47;
    -fx-background-color: #0E1D47;
}
#recentScrollPane .track {
    background-color: #0B1739;
    -fx-background-color: #0B1739;
}
#recentScrollPane .increment-button, #recentScrollPane .decrement-button {
    background-color: #0B1739;
    -fx-background-color: #0B1739;
}